In [107]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# **Part I - Restraunt Revenue Predictions**

# **1.) Importing the data set**

In [108]:
dataTrain=pd.read_csv('RestrauntRevenue/train.csv')
dataTest=pd.read_csv('RestrauntRevenue/test.csv')

In [109]:
dataTrain.head()

   Id   Open Date        City  City Group Type  ...  P34  P35  P36  P37    revenue
0   0  07/17/1999    İstanbul  Big Cities   IL  ...    5    4    3    4  5653753.0
1   1  02/14/2008      Ankara  Big Cities   FC  ...    0    0    0    0  6923131.0
2   2  03/09/2013  Diyarbakır       Other   IL  ...    0    0    0    0  2055379.0
3   3  02/02/2012       Tokat       Other   IL  ...   18   12   12    6  2675511.0
4   4  05/09/2009   Gaziantep       Other   IL  ...    3    4    3    3  4316715.0

[5 rows x 43 columns]

In [110]:
dataTest.head()

   Id   Open Date            City  City Group Type  ...  P33  P34  P35  P36  P37
0   0  01/22/2011           Niğde       Other   FC  ...    0    0    0    0    0
1   1  03/18/2011           Konya       Other   IL  ...    0    0    0    0    0
2   2  10/30/2013          Ankara  Big Cities   FC  ...    0    0    0    0    0
3   3  05/06/2013         Kocaeli       Other   IL  ...    0    0    0    0    0
4   4  07/31/2013  Afyonkarahisar       Other   FC  ...    0    0    0    0    0

[5 rows x 42 columns]

# **2.) Data Preprocessing**

In [111]:
dataTrain=dataTrain.dropna()
dataTest=dataTest.dropna()
 
train=dataTrain.drop(columns=['Id','Open Date','City'],axis=1)
test=dataTest.drop(columns=['Id','Open Date','City'],axis=1)

In [112]:
train.head()

   City Group Type  P1   P2   P3   P4  ...  P33  P34  P35  P36  P37    revenue
0  Big Cities   IL   4  5.0  4.0  4.0  ...    5    5    4    3    4  5653753.0
1  Big Cities   FC   4  5.0  4.0  4.0  ...    0    0    0    0    0  6923131.0
2       Other   IL   2  4.0  2.0  5.0  ...    0    0    0    0    0  2055379.0
3       Other   IL   6  4.5  6.0  6.0  ...    6   18   12   12    6  2675511.0
4       Other   IL   3  4.0  3.0  4.0  ...    2    3    4    3    3  4316715.0

[5 rows x 40 columns]

In [113]:
test.head()

   City Group Type  P1   P2   P3   P4  P5  ...  P31  P32  P33  P34  P35  P36  P37
0       Other   FC   1  4.0  4.0  4.0   1  ...    0    0    0    0    0    0    0
1       Other   IL   3  4.0  4.0  4.0   2  ...    0    0    0    0    0    0    0
2  Big Cities   FC   3  4.0  4.0  4.0   2  ...    0    0    0    0    0    0    0
3       Other   IL   2  4.0  4.0  4.0   2  ...    4    0    0    0    0    0    0
4       Other   FC   2  4.0  4.0  4.0   1  ...    0    0    0    0    0    0    0

[5 rows x 39 columns]

In [114]:
train.head(10)

   City Group Type  P1   P2   P3   P4  ...  P33  P34  P35  P36  P37    revenue
0  Big Cities   IL   4  5.0  4.0  4.0  ...    5    5    4    3    4  5653753.0
1  Big Cities   FC   4  5.0  4.0  4.0  ...    0    0    0    0    0  6923131.0
2       Other   IL   2  4.0  2.0  5.0  ...    0    0    0    0    0  2055379.0
3       Other   IL   6  4.5  6.0  6.0  ...    6   18   12   12    6  2675511.0
4       Other   IL   3  4.0  3.0  4.0  ...    2    3    4    3    3  4316715.0
5  Big Cities   FC   6  6.0  4.5  7.5  ...    0    0    0    0    0  5017319.0
6  Big Cities   IL   2  3.0  4.0  4.0  ...    2    3    5    4    4  5166635.0
7  Big Cities   IL   4  5.0  4.0  5.0  ...    0    0    0    0    0  4491607.0
8       Other   IL   1  1.0  4.0  4.0  ...    3    4    5    4    5  4952497.0
9       Other   IL   6  4.5  6.0  7.5  ...    0    0    0    0    0  5444227.0

[10 rows x 40 columns]

In [115]:
test.head(10)

   City Group Type  P1   P2   P3   P4  P5  ...  P31  P32  P33  P34  P35  P36  P37
0       Other   FC   1  4.0  4.0  4.0   1  ...    0    0    0    0    0    0    0
1       Other   IL   3  4.0  4.0  4.0   2  ...    0    0    0    0    0    0    0
2  Big Cities   FC   3  4.0  4.0  4.0   2  ...    0    0    0    0    0    0    0
3       Other   IL   2  4.0  4.0  4.0   2  ...    4    0    0    0    0    0    0
4       Other   FC   2  4.0  4.0  4.0   1  ...    0    0    0    0    0    0    0
5       Other   FC   4  4.5  5.0  4.0   2  ...    0    0    0    0    0    0    0
6       Other   FC   4  2.0  4.0  4.0   2  ...    5    4    1    2    0    0    0
7  Big Cities   IL   2  5.0  4.0  5.0   2  ...    0    0    0    3    0    4    4
8  Big Cities   IL   5  4.0  4.0  4.0   1  ...    4    0    0    3    5    0    0
9  Big Cities   IL  15  7.5  6.0  3.0   4  ...    2    0    2   24    4    0    3

[10 rows x 39 columns]

In [116]:
X_train=train.iloc[:,:-1]
y_train=train.iloc[:,-1]
X_test=test

# **3.) Implementation Of Regression Models**

## **a.) Simple Linear Regression**

In [117]:
#slr_X_train=X_train['P5']

In [118]:
#from sklearn.linear_model import LinearRegression
#regressor=LinearRegression()
#regressor.fit(slr_X_train,y_train)

In [119]:
#plt.scatter(X_train,y_train,color='green')
#plt.plot(X_train,regressor.predict(X_train),color='blue')
#plt.show()

## **b.) Multiple Linear Regression**

In [120]:
#Using the 1 hot encoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1,2])],remainder='passthrough')
X_train=np.array(ct.fit_transform(X_train))
X_test=np.array(ct.fit_transform(X_test))

ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1,2])])
X_train=np.array(ct.fit_transform(X_train))
X_test=np.array(ct.fit_transform(X_test))

In [121]:
linReg1=LinearRegression()
linReg1.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## **c.) Polynomial Regression**

In [122]:
pr=PolynomialFeatures(degree=4) #creating the polynomial regression object with degree of the polynomial equaling to 4
poly_X_train=pr.fit_transform(X_train) #convert the X_train to polynomial
linReg2=LinearRegression() #creating the Linear Regression object
linReg2.fit(poly_X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## **d.) Decision Tree**

In [123]:
decisionTree=DecisionTreeRegressor(random_state=0)
decisionTree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

Predicting a new result

# **4.) Calculating the mean squared error for all the models**

For Multiple Linear Regression

In [124]:
y_pred1=linReg1.predict(X_train)
print('MSE for Multiple Linear Regression:',mean_squared_error(y_train,y_pred1,squared=False))

MSE for Multiple Linear Regression: 2555686.610370776

For Polynomial Regression

In [125]:
y_pred2=linReg2.predict(poly_X_train)
print('MSE for Polynomial Regression:',mean_squared_error(y_train,y_pred2,squared=False))

MSE for Polynomial Regression: 2553548.088406371

For Decision Tree Regression

In [126]:
y_pred3=decisionTree.predict(X_train)
print('MSE for Decision Tree Regression:',mean_squared_error(y_train,y_pred3,squared=False))

MSE for Decision Tree Regression: 2553548.088406371

# **5.) Random Forest Method**

In [127]:
label=np.array(train['revenue'])
features=X_train #np.array(train.drop(columns=['revenue'],axis=1))
feature_list=list(train.drop(columns=['revenue'],axis=1).columns)

In [128]:
feature_train,feature_test,label_train,label_test=train_test_split(features,label,test_size=0.25,random_state=42)

In [129]:
rf=RandomForestRegressor(n_estimators=1000,random_state=42)
rf.fit(feature_train,label_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [130]:
predictions=rf.predict(feature_test) 
errors=abs(predictions-label_test)
print('Mean Absolute Error:',round(np.mean(errors), 2),'degrees.')
mape=np.mean(100 * (errors/label_test))
accuracy=100-mape
print('Accuracy:',round(accuracy,2),'%.')

Mean Absolute Error: 1800230.25 degrees.
Accuracy: 55.77 %.

# a.) Find the importance of each of the features and visualize them

In [131]:
rf.feature_importances_

array([0.2388443 , 0.25761563, 0.26417769, 0.23936238])

# b.) Build a new model by only taking the most important metrics

In [132]:
rf_most_important = RandomForestRegressor(n_estimators= 1000, random_state=42)
 
important_indices = [feature_list.index('P1'), feature_list.index('P2')]
train_important =feature_train[:, important_indices]
test_important =feature_test[:, important_indices]

In [133]:
rf_most_important.fit(train_important,label_train)
predictions=rf_most_important.predict(test_important)

In [134]:
errors=abs(predictions-label_test)
print('Mean Absolute Error:',round(np.mean(errors), 2),'degrees.')
mape=np.mean(100 * (errors/label_test))
accuracy=100-mape
print('Accuracy:',round(accuracy,2),'%.')

Mean Absolute Error: 1799354.93 degrees.
Accuracy: 55.84 %.

# c.) Compare the results of both the models

The model with the important features has a better accuracy

# **Part II - Housing Prices Prediction**

##1.) Importing The Dataset

In [135]:
dataTrainHP=pd.read_csv('HousingPrice/train.csv')
dataTestHP=pd.read_csv('HousingPrice/test.csv')

## 2.) Data Preprocessing

In [136]:
dataInfo=dataTrainHP.info()
dataInfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [137]:
dataTrainHP=dataTrainHP.drop(columns=['Id','LotFrontage','Alley','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','FireplaceQu','GarageType','GarageYrBlt','GarageFinish','GarageQual','GarageCond','PoolQC','Fence','MiscFeature','MoSold','YrSold'],axis=1)
dataTrainHP=dataTrainHP.dropna()

dataTestHP=dataTestHP.drop(columns=['Id','LotFrontage','Alley','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','FireplaceQu','GarageType','GarageYrBlt','GarageFinish','GarageQual','GarageCond','PoolQC','Fence','MiscFeature','MoSold','YrSold'],axis=1)
dataTestHP=dataTestHP.dropna()

In [138]:
dataTrainHP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 62 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1451 non-null   int64
 1   MSZoning       1451 non-null   object
 2   LotArea        1451 non-null   int64
 3   Street         1451 non-null   object
 4   LotShape       1451 non-null   object
 5   LandContour    1451 non-null   object
 6   Utilities      1451 non-null   object
 7   LotConfig      1451 non-null   object
 8   LandSlope      1451 non-null   object
 9   Neighborhood   1451 non-null   object
 10  Condition1     1451 non-null   object
 11  Condition2     1451 non-null   object
 12  BldgType       1451 non-null   object
 13  HouseStyle     1451 non-null   object
 14  OverallQual    1451 non-null   int64
 15  OverallCond    1451 non-null   int64
 16  YearBuilt      1451 non-null   int64
 17  YearRemodAdd   1451 non-null   int64
 18  RoofStyle      1451 non-null   object
 19  RoofMatl       1451 non-null   object
 20  Exterior1st    1451 non-null   object
 21  Exterior2nd    1451 non-null   object
 22  MasVnrType     1451 non-null   object
 23  MasVnrArea     1451 non-null   float64
 24  ExterQual      1451 non-null   object
 25  ExterCond      1451 non-null   object
 26  Foundation     1451 non-null   object
 27  BsmtFinSF1     1451 non-null   int64
 28  BsmtFinSF2     1451 non-null   int64
 29  BsmtUnfSF      1451 non-null   int64
 30  TotalBsmtSF    1451 non-null   int64
 31  Heating        1451 non-null   object
 32  HeatingQC      1451 non-null   object
 33  CentralAir     1451 non-null   object
 34  Electrical     1451 non-null   object
 35  1stFlrSF       1451 non-null   int64
 36  2ndFlrSF       1451 non-null   int64
 37  LowQualFinSF   1451 non-null   int64
 38  GrLivArea      1451 non-null   int64
 39  BsmtFullBath   1451 non-null   int64
 40  BsmtHalfBath   1451 non-null   int64
 41  FullBath       1451 non-null   int64
 42  HalfBath       1451 non-null   int64
 43  BedroomAbvGr   1451 non-null   int64
 44  KitchenAbvGr   1451 non-null   int64
 45  KitchenQual    1451 non-null   object
 46  TotRmsAbvGrd   1451 non-null   int64
 47  Functional     1451 non-null   object
 48  Fireplaces     1451 non-null   int64
 49  GarageCars     1451 non-null   int64
 50  GarageArea     1451 non-null   int64
 51  PavedDrive     1451 non-null   object
 52  WoodDeckSF     1451 non-null   int64
 53  OpenPorchSF    1451 non-null   int64
 54  EnclosedPorch  1451 non-null   int64
 55  3SsnPorch      1451 non-null   int64
 56  ScreenPorch    1451 non-null   int64
 57  PoolArea       1451 non-null   int64
 58  MiscVal        1451 non-null   int64
 59  SaleType       1451 non-null   object
 60  SaleCondition  1451 non-null   object
 61  SalePrice      1451 non-null   int64
dtypes: float64(1), int64(32), object(29)
memory usage: 714.2+ KB

In [139]:
dataTrainHP.isnull().sum()

MSSubClass       0
MSZoning         0
LotArea          0
Street           0
LotShape         0
                ..
PoolArea         0
MiscVal          0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 62, dtype: int64

In [140]:
dataTestHP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1431 entries, 0 to 1458
Data columns (total 61 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1431 non-null   int64
 1   MSZoning       1431 non-null   object
 2   LotArea        1431 non-null   int64
 3   Street         1431 non-null   object
 4   LotShape       1431 non-null   object
 5   LandContour    1431 non-null   object
 6   Utilities      1431 non-null   object
 7   LotConfig      1431 non-null   object
 8   LandSlope      1431 non-null   object
 9   Neighborhood   1431 non-null   object
 10  Condition1     1431 non-null   object
 11  Condition2     1431 non-null   object
 12  BldgType       1431 non-null   object
 13  HouseStyle     1431 non-null   object
 14  OverallQual    1431 non-null   int64
 15  OverallCond    1431 non-null   int64
 16  YearBuilt      1431 non-null   int64
 17  YearRemodAdd   1431 non-null   int64
 18  RoofStyle      1431 non-null   object
 19  RoofMatl       1431 non-null   object
 20  Exterior1st    1431 non-null   object
 21  Exterior2nd    1431 non-null   object
 22  MasVnrType     1431 non-null   object
 23  MasVnrArea     1431 non-null   float64
 24  ExterQual      1431 non-null   object
 25  ExterCond      1431 non-null   object
 26  Foundation     1431 non-null   object
 27  BsmtFinSF1     1431 non-null   float64
 28  BsmtFinSF2     1431 non-null   float64
 29  BsmtUnfSF      1431 non-null   float64
 30  TotalBsmtSF    1431 non-null   float64
 31  Heating        1431 non-null   object
 32  HeatingQC      1431 non-null   object
 33  CentralAir     1431 non-null   object
 34  Electrical     1431 non-null   object
 35  1stFlrSF       1431 non-null   int64
 36  2ndFlrSF       1431 non-null   int64
 37  LowQualFinSF   1431 non-null   int64
 38  GrLivArea      1431 non-null   int64
 39  BsmtFullBath   1431 non-null   float64
 40  BsmtHalfBath   1431 non-null   float64
 41  FullBath       1431 non-null   int64
 42  HalfBath       1431 non-null   int64
 43  BedroomAbvGr   1431 non-null   int64
 44  KitchenAbvGr   1431 non-null   int64
 45  KitchenQual    1431 non-null   object
 46  TotRmsAbvGrd   1431 non-null   int64
 47  Functional     1431 non-null   object
 48  Fireplaces     1431 non-null   int64
 49  GarageCars     1431 non-null   float64
 50  GarageArea     1431 non-null   float64
 51  PavedDrive     1431 non-null   object
 52  WoodDeckSF     1431 non-null   int64
 53  OpenPorchSF    1431 non-null   int64
 54  EnclosedPorch  1431 non-null   int64
 55  3SsnPorch      1431 non-null   int64
 56  ScreenPorch    1431 non-null   int64
 57  PoolArea       1431 non-null   int64
 58  MiscVal        1431 non-null   int64
 59  SaleType       1431 non-null   object
 60  SaleCondition  1431 non-null   object
dtypes: float64(9), int64(23), object(29)
memory usage: 693.1+ KB

In [141]:
dataTestHP.shape

(1431, 61)

In [142]:
dataTrainHP.describe()

        MSSubClass        LotArea  ...       MiscVal      SalePrice
count  1451.000000    1451.000000  ...   1451.000000    1451.000000
mean     56.933150   10507.808408  ...     43.758787  180624.101999
std      42.350366    9992.987081  ...    497.648467   79312.128273
min      20.000000    1300.000000  ...      0.000000   34900.000000
25%      20.000000    7537.500000  ...      0.000000  129900.000000
50%      50.000000    9477.000000  ...      0.000000  162500.000000
75%      70.000000   11600.000000  ...      0.000000  214000.000000
max     190.000000  215245.000000  ...  15500.000000  755000.000000

[8 rows x 33 columns]

In [143]:
dataTestHP.describe()

        MSSubClass       LotArea  ...     PoolArea       MiscVal
count  1431.000000   1431.000000  ...  1431.000000   1431.000000
mean     57.676450   9694.004892  ...     1.778477     58.781971
std      42.962817   4621.867924  ...    30.787732    636.639509
min      20.000000   1470.000000  ...     0.000000      0.000000
25%      20.000000   7339.000000  ...     0.000000      0.000000
50%      50.000000   9373.000000  ...     0.000000      0.000000
75%      70.000000  11448.000000  ...     0.000000      0.000000
max     190.000000  51974.000000  ...   800.000000  17000.000000

[8 rows x 32 columns]

In [144]:
dataTrainHP.head()

   MSSubClass MSZoning  LotArea  ... SaleType SaleCondition SalePrice
0          60       RL     8450  ...       WD        Normal    208500
1          20       RL     9600  ...       WD        Normal    181500
2          60       RL    11250  ...       WD        Normal    223500
3          70       RL     9550  ...       WD       Abnorml    140000
4          60       RL    14260  ...       WD        Normal    250000

[5 rows x 62 columns]

In [145]:
dataTestHP.head()

   MSSubClass MSZoning  LotArea  ... MiscVal SaleType SaleCondition
0          20       RH    11622  ...       0       WD        Normal
1          20       RL    14267  ...   12500       WD        Normal
2          60       RL    13830  ...       0       WD        Normal
3          60       RL     9978  ...       0       WD        Normal
4         120       RL     5005  ...       0       WD        Normal

[5 rows x 61 columns]

In [146]:
X_train=dataTrainHP.iloc[:,:-1]
y_train=dataTestHP.iloc[:,-1]
X_test=dataTestHP

In [147]:
X_train.head()

   MSSubClass MSZoning  LotArea  ... MiscVal SaleType SaleCondition
0          60       RL     8450  ...       0       WD        Normal
1          20       RL     9600  ...       0       WD        Normal
2          60       RL    11250  ...       0       WD        Normal
3          70       RL     9550  ...       0       WD       Abnorml
4          60       RL    14260  ...       0       WD        Normal

[5 rows x 61 columns]

## 3.) Regression Models

### a.) Simple Linear Regression

In [148]:
#slr=LinearRegression()
#slrX_train=dataTrainHP['MSSubClass']
#simple_reg=slr.fit(slrX_train,y_train)
#simple_reg

In [149]:
#y_pred=slr.predict(slrX_train)
#y_pred

### b.) Multiple Linear Regression

In [150]:
for field in ['MSSubClass','LandSlope','YearBuilt','YearRemodAdd','CentralAir','PavedDrive']: #,'GarageYrBlt','YrSold'
    le = LabelEncoder()
    dataTrainHP[field] = le.fit_transform(dataTrainHP[field].values)

for field in ['MSSubClass','LandSlope','YearBuilt','YearRemodAdd','CentralAir','PavedDrive']: #'GarageYrBlt',,'YrSold'
    le = LabelEncoder()
    dataTestHP[field] = le.fit_transform(dataTestHP[field].values)

In [151]:
#Using the 1 hot encoder
#ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),
                                   #[1,3,4,5,6,7,8,9,10,11,12,13,14,18,19,20,21,22,24,25,26,31,32,33,34,45,47,51,59,60])],
                     #remainder='passthrough')
#X_train=np.array(ct.fit_transform(X_train))
#X_test=np.array(ct.fit_transform(X_test))

In [152]:
X_train

      MSSubClass MSZoning  LotArea  ... MiscVal SaleType SaleCondition
0             60       RL     8450  ...       0       WD        Normal
1             20       RL     9600  ...       0       WD        Normal
2             60       RL    11250  ...       0       WD        Normal
3             70       RL     9550  ...       0       WD       Abnorml
4             60       RL    14260  ...       0       WD        Normal
...          ...      ...      ...  ...     ...      ...           ...
1455          60       RL     7917  ...       0       WD        Normal
1456          20       RL    13175  ...       0       WD        Normal
1457          70       RL     9042  ...    2500       WD        Normal
1458          20       RL     9717  ...       0       WD        Normal
1459          20       RL     9937  ...       0       WD        Normal

[1451 rows x 61 columns]

In [153]:
print(X_train)

      MSSubClass MSZoning  LotArea  ... MiscVal SaleType SaleCondition
0             60       RL     8450  ...       0       WD        Normal
1             20       RL     9600  ...       0       WD        Normal
2             60       RL    11250  ...       0       WD        Normal
3             70       RL     9550  ...       0       WD       Abnorml
4             60       RL    14260  ...       0       WD        Normal
...          ...      ...      ...  ...     ...      ...           ...
1455          60       RL     7917  ...       0       WD        Normal
1456          20       RL    13175  ...       0       WD        Normal
1457          70       RL     9042  ...    2500       WD        Normal
1458          20       RL     9717  ...       0       WD        Normal
1459          20       RL     9937  ...       0       WD        Normal

[1451 rows x 61 columns]

In [154]:
X_train=np.array(X_train)
print(X_train)

[[60 'RL' 8450 ... 0 'WD' 'Normal']
 [20 'RL' 9600 ... 0 'WD' 'Normal']
 [60 'RL' 11250 ... 0 'WD' 'Normal']
 ...
 [70 'RL' 9042 ... 2500 'WD' 'Normal']
 [20 'RL' 9717 ... 0 'WD' 'Normal']
 [20 'RL' 9937 ... 0 'WD' 'Normal']]

In [155]:
#mlrHP=LinearRegression()
#mlrHP.fit(X_train,y_train)

 **Predicting the values**

### c.) Polynomial Regression

### d.) Decision Tree Regression

## 4.) Mean Square Error

## 5.) Random Forest Method